{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_no_sidebar.jinja2' %}

{% from 'macros/forms.jinja2' import markdown_textarea, topic_tagging %}

{% block title %}New topic{% endblock %}

{% block header_context_link %}
<a class="site-header-context" href="/~{{ group.path }}">~{{ group.path }}</a>
{% endblock %}

{% block main_heading %}Post a new topic in ~{{ group.path }}{% endblock %}

{% block content %}
  <form
    id="new-topic"
    method="post"
    autocomplete="off"
    action="/~{{ group.path }}/topics"
    data-ic-post-to="/~{{ group.path }}/topics"
    data-js-prevent-double-submit
    data-js-confirm-leave-page-unsaved
  >
    <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">

    <div class="toast toast-minor">
      <h2>Tildes prioritizes high-quality content and discussions</h2>
      <p>Please post topics that are interesting, informative, or have the potential to start a good discussion.</p>
      <p>Please <em>avoid</em> posting topics that are primarily for entertainment or that don't have discussion value.</p>
    </div>

    <div class="form-group">
      <label class="form-label" for="title">Title</label>
      <input class="form-input" id="title" name="title" type="text" placeholder="Title" required data-js-auto-focus>
    </div>

    <fieldset>
      <legend>Enter a link, text, or both:</legend>
      <div class="form-group">
        <label class="form-label" for="link">Link</label>
        <input class="form-input" id="link" name="link" type="URL" placeholder="Link">
        <p class="form-input-note">If you enter a link, your post will be a link topic (whether you also include text or not).</p>
      </div>

      <div class="form-group">
        {{ markdown_textarea() }}
        <p class="form-input-note">If you enter only text (and no link), your post will be a text topic.</p>
        <p class="form-input-note">If you also enter a link, this text will be posted as the first comment and can be used to add more information or give your thoughts on the linked content. Adding text when posting a link is not required, but it can help get the discussion started.</p>
        </p>
      </div>
    </fieldset>

    {{ topic_tagging(autocomplete_options=group.common_topic_tags) }}

    <div class="form-buttons">
      <button type="submit" class="btn btn-primary">Post topic</button>
    </div>
  </form>
{% endblock %}
